/Poo_ejercicio3/nbproject/private/
/Poo_ejercicio6/nbproject/private/
/Poo_ejercicio6/build/
/Poo_ejercicio3/build/
/Poo_ejercicio4/nbproject/private/
/Poo_ejercicio4/build/
/Poo_ejercicio5/nbproject/private/
/Poo_ejercicio5/build/
/Poo_ejercicio7/nbproject/private/
/Poo_ejercicio7/build/
/Poo_ejercicio8/nbproject/private/
/Poo_ejercicio8/build/
/Poo_ejercicio9/nbproject/private/
/Poo_ejercicio9/build/
/Poo_ejercicio10/nbproject/private/
/Poo_ejercicio10/build/
/Poo_ejercicio11/nbproject/private/
/Poo_ejercicio11/build/
/Poo_ejercicio12/nbproject/private/
/Poo_ejercicio12/build/
/Poo_ejercicio13/nbproject/private/
/Poo_ejercicio13/build/
/Poo_ejercicio14/nbproject/private/
/Poo_ejercicio14/build/
/Poo_ejercicio1_extra/nbproject/private/
/Poo_ejercicio1_extra/build/
/Poo_ejercicio2_extra/nbproject/private/
/Poo_ejercicio2_extra/build/